# Ignore tous les parquet
*.parquet
# MAIS autorise ceux du gold (sample)
!data/gold/*.parquet

*.csv
*.xlsx

# Python
__pycache__/
*.pyc

# Environnement
.venv/

# OS
.DS_Store

# IDE
.idea/
.vscode/